# searxng/settings.yml
use_default_settings: true
server:
  secret_key: "your-secret-key"  # change this!
  limiter: false                # disable rate limiter for local usage
  image_proxy: true
search:
  safe_search: 0
  formats:
    - html
    - json
    - csv
    - rss
